body{
    min-height: 50px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
}

label{
  margin-top: 0.5rem;
 
}

.logo{
    height: 55px;
}

h1{
    font-size: 15pt;
    font-weight: bolder;
}